:root {
  --color-primary: #4900be;
  --color-secondary: #0004ff;
  --color-accent: #18cc00;
  --color-body: #222222;
  --color-nav-bar: #730096;
  --color-menu-item: #bbbbbb;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2rem;
  background: #333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Icons */

.icon__bar-toggler {
  border-radius: 9px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 0.5rem;
  opacity: 0.8;
  padding: 0 0.3rem 0 0.3rem;
  transition: all 0.3s;
}

.icon__bar-toggler:hover {
  color: #ffffff;
  opacity: 1;
}

.icon__logo {
  width: 150px;
  padding: 0.5rem 0 0.3rem 0.5rem;
}

.icon__fab {
  font-size: 2rem;
}

.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #cccccc;
  margin: 0 3rem;
}

.icon__container:hover {
  background: #ffffff;
}

/* Navigation-bar */

.navigation__bar {
  align-items: center;
  background: var(--color-nav-bar);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Collapsibles */

.collapsible--content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible--content {
  max-height: 100%;
  opacity: 1;
}

.collapsible--expanded .icon__bar-toggler {
  opacity: 1;
  box-shadow: 0 0 4px 4px #ffffff;
}

/* Lists */

.ul__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ul__list li {
  padding: 1rem;
  color: #cccccc;
  text-align: center;
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}

.ul__list li:hover {
  padding: 1rem;
  color: #ffffff;
  background: #5c0079;
}

@media screen and (min-width: 768px) {
  .ul__list {
    width: auto;
    opacity: 1;
    max-height: 100%;
  }

  li {
    display: inline-block;
    height: 100%;
  }

  .icon__bar-toggler {
    display: none;
  }
}

/* Blocks */

.block__heading {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 2rem;
  text-align: center;
}

.block__contact-icons {
  display: flex;
  justify-content: space-around;
}

/* Scroll Down button */

.btn__scroll-down {
  width: 30px;
  height: 40px;
  border: 2px solid black;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn__scroll-down::before,
.btn__scroll-down::after {
  content: "";
  border: 1px solid black;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: none;
  border-left: none;
  animation: btn__scroll-down 1s ease-in-out infinite;
}

.btn__scroll-down::after {
  top: 30%;
  animation-delay: 0.2s;
}

@keyframes btn__scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}

.block__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Form */

.contact__wrapper > * {
  padding: 1rem;
}

.contact__wrapper p {
  margin: 0 0 1rem 0;
}

.contact__info {
  background: dodgerblue;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__info h1 {
  margin: 0;
}

.contact__input {
    background: lightblue;
}

.contact__input .full {
  grid-column: 1/3;
}

.contact__input button,
.contact__input input,
.contact__input textarea {
  width: 100%;
  padding: 0.75rem 0;
  outline: none;
  border: 2px solid gold;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.contact__input input, .contact__input textarea {
  margin: 0 0 0.5rem 0;
  padding-left: 10px;
}

.contact__input button {
  padding: 1.5rem 0;
}

@media screen and (min-width:768px) {
  .contact__input form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .contact__input {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contact__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact__wrapper form {
    gap: 1rem;
  }

  .contact__wrapper * {
    padding: 1rem;
  }

  .contact__wrapper .full, .contact__wrapper p {
    margin: 0;
  }

  .contact__info {
    background: dodgerblue;
  }

}