<div class="container block__center">
  <div class="contact__wrapper">
    <div class="contact__info">
      <h1>Petrizer Design</h1>
      <p>Send me an Email here!</p>
    </div>
    <div class="contact__input">
      <form>
        <p>
          <label>Name</label>
          <input type="text" name="name" />
        </p>
        <p>
          <label>Email Address</label>
          <input type="email" name="email" />
        </p>
        <p class="full">
          <label>Message</label>
          <textarea name="message" rows="7"></textarea>
        </p>
        <p class="full">
          <button>Send Message</button>
        </p>
      </form>
    </div>
  </div>
</div>
