<section class="container">
  <div id="section_1">
    <h1 class="block__heading">Front end web developer junior.</h1>
    <div class="block__contact-icons">
      <div class="icon__container">
        <a class="icon__fab" href="https://github.com/Titi923" target="_blank" ><i class="fab fa-github fa-2x"></i></a>
      </div>
      <div class="icon__container">
        <a class="icon__fab" href="https://www.linkedin.com/in/petrisor-buciuta-9078a6223/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="icon__container">
        <a class="icon__fab" href="#"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
    </div>
  </div>
</section>