<section class="container">
    <div id="section_1">
        <h1 class="block__heading">Front end web developer junior.</h1>
        <div class="block__contact-icons">
          <div class="icon__container">
            <span class="icon__fab"><i class="fab fa-github fa-2x"></i></span>
          </div>
          <div class="icon__container">
            <span class="icon__fab"><i class="fab fa-linkedin fa-2x"></i></span>
          </div>
          <div class="icon__container">
            <span class="icon__fab"><i class="fas fa-envelope fa-2x"></i></span>
          </div>
        </div>
    </div>
  </section>